*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: #d3c7d4;
  color: #1e272e;
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 2em;
  
}
a {
  color: #ffffff;
  text-decoration: none; /*me saca el subrrallado por default*/
}

img{
  display: flex;
  max-width: 56px;
 }

 div{
  display: flex;
  align-items: center;
  justify-content: center;
 }

.container__fluid{
  background-color: rgb(255, 255, 255);
  border-radius: 200px;
}
